schema/GarminOEMDeviceExtensionv1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://www.garmin.com/xmlschemas/GarminOEMDeviceExtensions/v1" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.garmin.com/xmlschemas/GarminOEMDeviceExtensions/v1" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

    <xsd:annotation>
        <xsd:documentation>Garmin OEM Device extension schema version 1.0 - For more information on Garmin Device schema, see http://www.garmin.com/xmlschemas/GarminDevice/v2</xsd:documentation>
    </xsd:annotation>

	<xsd:element name="OEMDeviceExtension" type="OEMDeviceExtension_t" />
    <xsd:element name="OEMMassStorageModeExt" type="OEMMassStorageModeExt_t" />

	<xsd:complexType name="OEMDeviceExtension_t">
		<xsd:annotation>
			<xsd:documentation>Extension to the Garmin Device schema</xsd:documentation>
		</xsd:annotation>
  		<xsd:sequence>
            <xsd:element name="VinNumber" type="xsd:string" minOccurs="0" />
            <xsd:element name="Volumes" type="Volumes_t" minOccurs="0" />
            <xsd:element name="Extensions" type="Extensions_t" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="Volumes_t">
        <xsd:annotation>
            <xsd:documentation>This types allows you describe any Volume accessible by the Device</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Volume" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name ="Extensions" type="Extensions_t" minOccurs="0" />
                    </xsd:sequence>
                    <xsd:attribute name="Name" type="xsd:anyURI" use="required" />
                    <xsd:attribute name="Id" type="xsd:long" use="optional" />
                    <xsd:attribute name="Free_space" type="xsd:long" use="optional" />
                    <xsd:attribute name="Permissions" use="optional">
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation>
                                permissions == -1 signifies that the listed volume is not writable
                                permissions == 0 signifies that updates intended for this volume must be verified and confirmed by the user
                                permissions >= 1 The higher the value the higher the priority the updater should give to the listed volume when determining location of an update
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="xsd:integer">
                                <xsd:minInclusive value="-1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>   
        </xsd:sequence>
    </xsd:complexType>
	
    <xsd:complexType name="OEMMassStorageModeExt_t">
        <xsd:annotation>
            <xsd:documentation>The Type extends the Garmin Device Mass Storage Mode Type</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="DataType" type="DataType_t" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OEMUpdateFile" type="OEMUpdateFile_t" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Extensions" type="Extensions_t" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DataType_t">
        <xsd:sequence>
            <xsd:element name="Name" type="NonZeroToken_t"/>
            <xsd:element name="File" type="File_t" maxOccurs="unbounded"/>
            <xsd:element name="Extensions" type="Extensions_t" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="NonZeroToken_t">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="File_t">
        <xsd:sequence>
            <xsd:element name="Specification" type="Specification_t"/>
            <xsd:element name="Location" type="Location_t"/>
            <xsd:element name="TransferDirection" type="TransferDirection_t"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Specification_t">
        <xsd:sequence>
            <xsd:element name="Identifier" type="NonZeroToken_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the type of data contained in this file, e.g. "MP3". If the file is XML and has an associated XML Schema put the namespace of the schema here.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Documentation" type="xsd:anyURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A URI pointing to documentation for this file type. If the file has an XML Schema this should be the location of the schema document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Location_t">
        <xsd:sequence>
            <xsd:element name="Path" type="xsd:anyURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>If a Path is not specified, the file can be at any path on the device.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BaseName" type="xsd:token" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>If a BaseName is not specified, the file can have any name. BaseName supports the * Wildcard. * matches zero or more characters.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FileExtension" type="xsd:token"/>
            <xsd:element name="Extensions" type="Extensions_t" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="TransferDirection_t">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="InputOutput"/>
            <xsd:enumeration value="InputToUnit"/>
            <xsd:enumeration value="OutputFromUnit"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="OEMUpdateFile_t">
        <xsd:annotation>
            <xsd:documentation>The updates that can be performed on this unit. Includes the system region update.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartNumber" type="PartNumber_t"/>
            <xsd:element name="Version" type="Version_t"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Path" type="xsd:anyURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Specifies the folder to which the update file needs to be copied. Does not include the FileName or Extension.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FileName" type="xsd:token" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>If FileName is specified, the file copied to the device will have this name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VolumeName" type="xsd:anyURI" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>Specifies which volume the file can currently be found on</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name ="Extensions" type="Extensions_t" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="PartNumber_t">
        <xsd:annotation>
            <xsd:documentation>The formatted XXX-XXXXX-XX part number of a PC application.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[\p{Lu}\d]{3}-[\p{Lu}\d]{5}-[\p{Lu}\d]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="Version_t">
        <xsd:sequence>
            <xsd:element name="Major" type="xsd:unsignedShort"/>
            <xsd:element name="Minor" type="xsd:unsignedShort"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Extensions_t">
        <xsd:annotation>
            <xsd:documentation>This type provides the ability to extend any data type that includes it.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
	